include LICENSE.md
include README.md
include requirements.txt

include ax/__ init __.py
include ax/alembic.ini
include ax/main.py
include ax/app.template.yaml
include ax/field_types.yaml
include ax/ax.sh

recursive-include ax/backend *
recursive-include ax/dist *

exclude ax/frontend *
exclude ax/pages *
exclude ax/backend/__pycache__ *
exclude ax/backend/logs *
exclude ax/backend/py_libs *
exclude ax/app.yaml

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.map
