@tailwind base;

body {
    font-size: 14px;
}

h1 {
    @apply text-2xl;

}

.current-page>p:first-child {
    height: 100% !important;
}

@media all and (max-width: 600px) {
    html {
        font-size: 80%;
    }
}


@tailwind components;
@tailwind utilities;