body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 24px;
    color: black;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0px 5px 0px;
}

a {
    font-weight: 300;
    color: #337ab7;
}

.ax-chip-icon {
    color: white;
}

.options-switcher .v-label {
    font-size: 14px !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #999;
    border: thin solid gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

/************ Splits styles { ***************/

.splitpanes {
    background-color: #f8f8f8;
}

.splitpanes__splitter {
    background-color: #ccc;
    position: relative;
}

.splitpanes__splitter:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: #DDDDDD;
    opacity: 0;
    z-index: 90;
}

.splitpanes__splitter:after {
    content: '';
    height: 25px;
    left: 4px;
    position: absolute;
    top: 50%;
    border-left: 2px solid #CCC;
    border-right: 2px solid #CCC;
    width: 6px;
    z-index: 90;
}

.splitpanes__splitter:hover:before {
    opacity: 1;
}

.splitpanes--vertical>.splitpanes__splitter:before {
    right: -9px;
    height: 100%;
}

.splitpanes--horizontal>.splitpanes__splitter:before {
    top: -10px;
    bottom: -10px;
    width: 100%;
}

.ax-admin-drawer-first {
    background: #ffffff;
    height: 100%;
    padding: 25px;
    overflow: auto;
}

.ax-admin-drawer-second {
    background: #ffffff;
    height: 100%;
    padding: 25px;
    overflow: auto;
}

.ax-admin-content-pane {
    height: 100%;
    overflow: auto;
}

.ax-admin-splits {
    height: 100%;
    position: absolute;
    overflow: auto;
}

/************ Splits styles } ***************/

/************ Jstree styles { ***************/

.jstree-clicked {
    border-bottom: 2px solid #FF5722 !important;
}

.jstree-hovered {
    background: transparent !important;
    box-shadow: none !important;
}

.jstree-clicked .jstree-hovered {
    background: transparent !important;
    border-bottom: 2px solid #FF5722 !important;
}

.jstree-default .jstree-clicked {
    background: transparent !important;
    box-shadow: none !important;
}

.jstree-default a {
    white-space: normal !important;
    height: auto;
    border-bottom: 2px solid transparent;
}

.jstree-anchor {
    height: auto !important;
}

.jstree-default li>ins {
    vertical-align: top;
}

.jstree-leaf {
    height: auto;
}

.jstree-leaf a {
    height: auto !important;
}

.ax-field-node a {
    height: 42px !important;
}

.jstree-node {
    margin-left: 0px !important;
}

.groups-tree ul {
    padding-left: 0px !important;
}

.jstree-container-ul {
    padding-left: 0px !important;
}

.jstree-field-group {
    color: #777 !important;
}

/************ Jstree styles } ***************/

/****************** D3 styles { *************************/

.d3_state_rect {
    transition: fill 0.5s;
    cursor: pointer;
    stroke-width: 2;
    stroke: black;
    fill: white;
}

/* .d3_state_rect:hover {
    fill: #FFD180;
} */

.d3_state_text {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    text-anchor: middle;
    alignment-baseline: middle;
    pointer-events: none;
}

.d3_start {
    cursor: pointer;
    fill: white;
    stroke-width: 2;
    stroke: black;
    transition: fill 0.5s;
}

/* .d3_start:hover {
    fill: #FFD180;
} */


.d3_end {
    cursor: pointer;
    fill: white;
    stroke-width: 1;
    stroke: black;
    transition: fill 0.5s;
}

/* .d3_end:hover {
    fill: #FFD180;
} */

.d3_all {
    cursor: pointer;
    fill: white;
    stroke-width: 2;
    stroke: black;
    stroke-dasharray: 10, 3;
    transition: fill 0.5s;
}

/* .d3_all:hover {
    fill: #FFD180;
} */

.g_action {
    pointer-events: none;
}

.d3_action_text {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-anchor: middle;
    alignment-baseline: middle;
    pointer-events: all;
    transition: fill 0.5s;
}

.d3_action_text:hover {
    fill: orange;
}

.d3_self_action_text {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    pointer-events: all;
    text-anchor: start;
    fill: #888888;
}

.d3_self_action_text:hover {
    fill: orange;
}

.d3_line_action {
    stroke: black;
    stroke-width: 1.5;
    fill: none;
    opacity: 0.25;
    transition: stroke 0.5s;
}

.d3_new_action {
    stroke: #FF9800;
    stroke-width: 1;
    fill: none;
    opacity: 1;
    stroke-dasharray: 10, 3;
    pointer-events: none;
}

.d3_new_action_state {
    fill: #FF9800;
}

.d3_dragover {
    stroke: #FF5722;
}

.d3_dragover_line {
    stroke: #FF5722;
    opacity: 1;
}

.d3_dragover_text {
    fill: #FF5722;
    opacity: 1;
}

.d3_dragover_line_arrow {
    stroke: #FF5722;
    fill: #FF5722;
    opacity: 1;
}


.new-action-arrow {
    stroke-width: 1.5px;
    pointer-events: none;
    fill: red;
}

.hidden {
    display: none;
}

.d3_highlighted_action {
    opacity: 1;
}

.end-arrow {
    stroke-width: 1.5 !important;
}

/* .d3_highlighted_state {} */

/******************* D3 styles }************************/




/* Ag-grid overrides */
.ag-root-wrapper-body .ag-layout-print {
    min-height: 170px;
}




/* mavon-editor used in AxMarkdown */
.v-note-wrapper {
    z-index: 105 !important;
}


.ax-form-app .application--wrap {
    min-height: 300px;
}

.ax-grid-app .application--wrap {
    min-height: 300px;
}

.ax-highlited-row {
    background: #FFEE58;
    -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    transition: background-color 600ms linear;
}

.v--modal-overlay.scrollable .v--modal-box {
    margin-top: 15px;
    margin-bottom: 15px !important;
}

.tree-folder {
    font-weight: bold !important;
}

.v--modal-overlay {
    z-index: 200 !important;
}

.tom-remove {
    cursor: pointer;
}

.grid-btn {
    cursor: pointer;
}

.pages-preview>p:first-child {
    height: 100% !important;
}

.v-btn i {
    margin-right: 5px;
}